.all {
    border-radius: 10px;
    box-shadow: 2px 1px 2px 5px rgb(124, 251, 251);
    background-color: aqua;
    height: 300px;
    width: 200px;
    opacity: 0.50;
    border-image: url(./css\ image2.jpg);
    margin-top: 50px;
    display: block;
    margin-left: 300px;
}

.button {
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;
}

.body {
    background-image: linear-gradient(red, blue, red, blue);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
}

.title {
    background-color: aqua;
    height: 20px;
}

.hhh {
    display: flex;
}