.body {
    padding: o;
    margin: 0;
    outline: none;
}

.container {
    background-color: red;
    width: 23%;
    margin-top: 100px;
    border-radius: 10px;
    /* margin: auto; */
}

.cal {
    background-color: yellow;
    margin-left: 0px;
    margin-top: 120px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 5px 6px 7px rgb(201, 201, 210);
}

.dark {
    margin-top: 20px;
    box-shadow: 6px 7px 8px pink;
    width: 95%;
    height: 100px;
    border: none;
    margin-left: 2%;
    color: whitesmoke;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.button {
    margin-left: 25px;
    padding: 4px;
    margin-top: 3%;
}

.press {
    cursor: pointer;
    padding-top: 10px;
    opacity: 0.5px;
    height: 35px;
    color: red;
    width: 23%;
    padding: 5px;
    margin-left: 25px;
}

@media (max-width:600px) {
    .container {
        position: static;
        width: 100%;
    }
    .cal {
        background-color: aqua;
    }
    .dark {
        background: black;
    }
    .body {
        width: 100%;
    }
}